
### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr


/target/
!/target/*.jar
# Gradle files
.gradle/
build/
# Maven files
log/
target/
*.log
*.log.*
*.pid
*.seed
*.log.xml
*.out
*.replay
.idea/
*.iml
*.ipr
*.iws
# Eclipse project files
.settings/
.classpath
.project
.metadata/
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
